.about-mission {
    margin: 3rem 0px;
    .button {
        padding: .8rem 2rem;
        font-size: 1rem;
        a {
            color: $white;
        }
    }
    .column.large-8 > img {
        border-left: rem-calc(12px) solid $light-green;
    }
}

.offices {
    margin: 3rem 0px;
    .centered {
        margin-bottom: 1rem;
    }
    .green-header {
        text-transform: none;
    }
    .tabs-content {
        border: 0px;
    }
    .tabs {
        display: inline-block;
        border: 0px;
    }
    .tabs-title > a {
        border: 2px $medium-gray solid;
        color: $dark-green;
        border-radius: 2px;
        margin: 0px rem-calc(2px);
        padding: 1rem 1.5rem;
        font-size: $global-font-size;
        font-weight: bold;
        text-transform: uppercase;
    }
    .tabs-title > a:hover {
        background: scale-color($white, $lightness: -15%);
    }
    .tabs-title.is-active > a {
        background-color: $light-green;
        color: $white;
        border: 2px $light-green solid;
        font-weight: normal;
    }
    .tabs-title.is-active > a:hover {
        background: scale-color($light-green, $lightness: -15%);
        border: scale-color($light-green, $lightness: -15%) 2px solid;
    }
    .employee {
        margin-bottom: 1rem;
        img {
            margin-bottom: .5rem;
        }
        h3 {
            margin-bottom: rem-calc(4px);
            font-size: rem-calc(18px);
        }
        h6.orange {
            text-transform: uppercase;
            margin-bottom: .75rem;
        }
        p {
            font-size: rem-calc(18px);
            color: #636466;
        }
        p.green {
            color: $dark-green;
            margin-bottom: .25rem;
        }
    }
    .tabs-panel div.content {
        margin-bottom: 2.5rem;
        font-size: rem-calc(18px);
    }
}

//misc classes
.orange {
    color: $orange;
}

.green {
    color: $dark-green;
}
