.custom-close {
    background-image: url("../images/close-icon.png");
    background-size: rem-calc(30px);
    background-repeat: no-repeat;
    top: 1.45rem;
    right: .5rem;
}

.custom-close:hover {
    background-image: url("../images/close-icon-hover.png");
    transition: .25s;
}

.fancybox-wrap.fancybox-mobile.fancybox-type-inline.fancybox-opened {
    border-top: rem-calc(10px) solid $dark-green;
    border-radius: 0px;
    width: rem-calc(700px) !important;

    .fancybox-inner {
        width: auto !important;
    }

    .gform_heading {
        text-align: center;
    }

    h3.gform_title {
        text-transform: uppercase;
        color: $dark-green;
        font-size: 2.5rem;
    }

    label.gfield_label {
        color: $dark-gray;
    }
}

form > .gform_footer > .gform_button.button {
    background: $dark-green;
    text-transform: uppercase;
    border-radius: 3px;
}

form > .gform_footer > .gform_button.button:hover {
    background: scale-color($dark-green, $lightness: -15%);
}

.fancybox-type-iframe {
    .fancybox-skin {
        padding: 0px !important;
        border-radius: 0px;
    }

    .fancybox-inner {
        overflow: hidden !important;

        margin: 0px;
    }

    .custom-close {
        top: -3rem;
        right: -.45rem;
    }

    .fancybox-title.fancybox-title-outside-wrap {
        font-family: 'Cabin', sans-serif;
        font-size: 3rem;
        height: 2.5rem;
        text-transform: uppercase;
        color: $dark-gray;
        text-align: right;
        margin-right: 3rem;
        font-weight: bold;
    }
}

.fancybox-skin {
    border-radius: 0px;
}

.gform_wrapper:not(.ginput_container_multiselect) select {
    background-image: url();
}

.gform_body > .gform_wrapper > [type='text'], select, input:not(.button) {
    box-shadow: inset 0 2px 2px rgba(10, 10, 10, 0.1) !important;
    border-radius: 0px !important;
    padding: 3px 0 2px 6px !important;
    color: $medium-gray !important;
}
