@import "settings";

.generic-content {
    margin: 2.5rem 0px;

    .button {
        background-color: $light-green;
        margin-bottom: 0px;
        // position: absolute;
        // bottom: 0px;
        // left: .8rem;
        padding: .8rem 2rem;

        a {
            color: $white;

            p {
                margin-bottom: 0px;
            }
        }
    }

    .button:hover {
        opacity: .8;
        background: $light-green;
        transition: .3s;
    }

    // .column.large-8 > img {
    //     border-left: rem-calc(12px) solid $light-green;
    // }
}
