@import "settings";

.generic-content, .generic-content-reversed {
    margin: 3rem 0px;

    .button {
        background-color: $light-green;
        margin-bottom: 0px;
        padding: .9rem 2rem;
        text-transform: uppercase;
        font-size: 1rem;

        a {
            color: $white;
        }
    }

    .button:hover {
        background: scale-color($button-background, $lightness: -15%);
    }
}

.capabilities-grid {
    margin-right: 0px;
    margin-bottom: 5rem;
    background-color: $light-gray;

    h2.green-header {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    div.row.small-up-1.medium-up-2 {
        padding-bottom: 2rem;
        .column {
            margin-bottom: 3rem;
        }
    }

    h4.green-header {
        margin-bottom: 0px;
    }

    img {
        margin-bottom: .5rem;
    }

}

.capabilities-grid::before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $white;
    border-width: rem-calc(40px);
    margin-left: rem-calc(-40px);
}

.capabilities-grid::after {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $light-gray;
    border-width: rem-calc(40px);
    margin-left: rem-calc(-40px);
}

.our-partners {
    margin-bottom: 3rem;

    img {
        max-height: 4rem;
        display: inline-block;
    }
}
