@import "settings";

.fancybox-wrap.fancybox-type-inline {
    width: 700px !important;
    .fancybox-skin {
        border-top: rem-calc(10px) solid $light-green;
        border-radius: 0px;
    }
    .fancybox-inner {
        width: 100% !important;
    }
    #quote-lightbox {

    }
    .gform_body > ul#gform_fields_1 {

    }
}

//sliders
.index-lightbox {
    height: rem-calc(500px);
    margin-top: 0px;
    margin-bottom: rem-calc(65px);
    border-bottom: rem-calc(12px) solid $orange;
    position: relative;
    text-align: center;
    position: relative;
    background-image: url("../images/pipes.png");
    background-size: cover;
    background-size: cover;

    img.play-icon {
      position: absolute;
      top: 18rem;
      left: 50%;
      height:4rem;
      width: 4rem;
      margin-left: -2rem;
    }

    h3 {
        position: absolute;
        top: 40%;
        left:50%;
        margin: 0px auto;
        margin-left: -(rem-calc(311px));
        font-size: 2.5rem;
        color: $white;
    }

    h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -(rem-calc(283px));
        color: #a7a7a7;
    }
}

.index-lightbox::after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: $orange;
	border-width: rem-calc(50px);
	margin-left: -(rem-calc(50px));
}

//Homepage Sections in decsending order
.content-services {
    text-align: center;
    padding-bottom: 1.5rem;
    margin-top: 4rem;

    .row.column > p {
        margin-bottom: 3rem;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        max-width: 50rem;
        margin: .8rem auto;
    }

    .service-icon {
        height: rem-calc(100px);
        margin-bottom: 1.5rem;;
    }

    .row > .medium-6.large-3.columns > ul > li > h6 {
        text-transform: uppercase;
        overflow: visible;
        white-space: nowrap;
    }
}

.content-services::after {
    left: 50%;
    bottom: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $white;
    border-width: rem-calc(45px) rem-calc(40px);
    margin-left: rem-calc(-40px);
    margin-bottom: rem-calc(-89px);
}

.why-choose-us {
    background: $light-gray;
    padding: 0px 2rem;
    min-height:25rem;
    max-height: 32rem;
    position: relative;

    .green-header {
        margin-top: rem-calc(75px);
    }

    .quote-container {
        width: 70%;

        img {
            position: absolute;
            bottom: 0px;
            right: 2rem;
            display: inline;
            margin-right: .2rem;
        }
    }

    img.photo {
        position: absolute;
        right: 10%;
    }

    .row.why-choose-us-content {
        padding-bottom: 3rem !important;
    }

    .accordion {
        background: none;
        color: $orange;

        a.accordion-title {
            color: $orange;
            font-size: rem-calc(18px);
            font-weight: bold;
            text-transform: uppercase;
            margin-left: rem-calc(30px);
            padding: .8rem .5rem;
        }

        .accordion-title::before {
            content: url("../images/expand.png");
            left: -35px;
            top: rem-calc(14px);
        }

        .accordion-content {
            background: none;
            color: $dark-gray;
            padding: 0px;
            padding-left: 1rem;

            p {
                margin: 0px rem-calc(30px) rem-calc(20px) rem-calc(22px);
            }
        }

    }
}

.why-choose-us::before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $white;
    border-width: rem-calc(45px) rem-calc(40px);
    margin-left: rem-calc(-40px);
    margin-top: rem-calc(-9px);
}

.why-choose-us::after {
    left: 50%;
    bottom: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $light-gray;
    border-width: rem-calc(45px) rem-calc(40px);
    margin-left: rem-calc(-40px);
    margin-bottom: rem-calc(-80px);
}

//locations tabs
.locations {
    .tabs-title {
        text-transform: uppercase;
    }
}

//Misc. classes
.centered {
    text-align: center;
}

.row {
    max-width: 70rem !important;
}

.green-header {
    color: $dark-green;
    text-transform: uppercase;
}

.green-paragraph {
    color: $light-green;
}

.bold-orange {
    font-weight: bold;
    color: $orange;
    text-transform: uppercase;
}

.bold-light-green {
    font-weight: bold;
    color: $light-green;
    text-transform: uppercase;
}

.bold-yellow {
    font-weight: bold;
    color: $yellow;
    text-transform: uppercase;
}

.orange {
    color: $orange;
}

.dark-green {
    color: $dark-green;
}

.light-green {
    color: $light-green;
}

.yellow {
    color: $yellow;
}

.brown {
    color: $brown;
}

.italic {
    font-style: italic;
    font-size: 1.1rem;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

//breakpoints
@media only screen and (max-width: rem-calc(870px)) {
    .quote-container {
        width: auto !important;
    }
}

.why-choose-us {
    max-height: none;
}

@include breakpoint (small only) {
    .header {
        height: auto !important;

        .row {
            margin-top: 1rem;
        }

        img.logo {
            left: 50%;
            margin-left: rem-calc(-52px);
        }

        .header-lower {
            text-align: center !important;
            margin-bottom: .5rem;

            .header-link {
                margin: 1rem !important;
            }

        }
    }


    .index-lightbox {
        h4 {
            margin-left: rem-calc(-178.3) !important;
            top: 48% !important;
        }

        h3 {
            font-size: 2rem;
            margin-left: rem-calc(-218) !important;
            top: 30% !important;
        }
    }

    .why-choose-us {
        background-image: none;

        img {
            position: relative !important;
            margin: auto;
            margin-bottom: .5rem;
        }
    }

    @include breakpoint(medium) {
        .why-choose-us-content > img {
            position: relative !important;
            margin-bottom: .5em;
        }
    }

    .locations {
        .tabs {
            display: table;
            text-align: center;
            width: 100% !important;
        }

        .tabs-title {
            width: 33.33%;
            float:left !important;
            font-size: .8rem !important;
        }
        .tabs-title > a {
            font-size: .8rem;
        }

        .tabs-content {
            text-align: center;
        }
    }
}
