.blog {
    background-color: $light-gray;
}

.header-bar {
    background-image: url("../images/blog-background.png");
    h1 {
        text-transform: uppercase;
        color: white;
    }
}

.row.posts-content {
    margin-top: 2rem;
}

a.button.hollow {
    border: 3px solid $dark-green;
    color: $dark-green;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px .5rem .8rem 0px;
}

.posts-left {

    .more-posts {
      text-align: center;
      #load-more {
        display: inline-block;
        margin: 3rem auto 5rem auto;
      }
      #load-more:hover {
        color: $light-green;
        border-color: $light-green;
        transition: .25s;
      }
    }
}

.posts-right {
    margin-top: 1rem;
    a.button.hollow:hover {
        color: $white;
        background: $orange;
        border: 3px solid $orange;
        transition: background-color 0.1s ease-out, color 0.25s ease-out;
    }

    #search-post {
        ::-webkit-input-placeholder {
            text-transform: uppercase;
            color: $dark-green;
            font-size: .9rem;
            font-weight: bold;
        }
        ::-moz-placeholder {
            text-transform: uppercase;
            color: $dark-green;
            font-size: .9rem;
            font-weight: bold;
        }
        :-ms-input-placeholder {
            text-transform: uppercase;
            color: $dark-green;
            font-size: .9rem;
            font-weight: bold;
        }
        input:-moz-placeholder { text-transform: uppercase; };
        div > input.input-group-field {
            border: 3px solid $medium-gray;
            border-radius: 3px;

        }
        div > div > button > i {
            margin-left: rem-calc(-45px);
            color: $medium-gray;
        }
    }
    #categories {
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            margin: 2rem 0px .75rem 0px;
        }
    }
}

article.blog.teaser {
    margin: 1rem 0px 5rem 0px;

    .content {
        margin-top: 1.5rem;
    }
}
