@import "settings";

.row.posts-content {
    margin-top: 2rem;
}

a.button.hollow {
    border: 3px solid $dark-green;
    color: $dark-green;
    font-weight: bold;
    text-transform: uppercase;
}

.posts-left {

    .more-posts {
      text-align: center;
      #load-more {
        display: inline-block;
        margin: 3rem auto 5rem auto;
      }
      #load-more:hover {
        color: $light-green;
        border-color: $light-green;
        transition: .25s;
      }
    }
}

.posts-right {
    margin-top: 1rem;
    a.button.hollow:hover {
        color: $white;
        background: $orange;
        border: 3px solid $orange;
        transition: background-color 0.1s ease-out, color 0.25s ease-out;
    }

    h3 {
        margin-bottom: .25rem;
    }

    #search-post {
        div > input.input-group-field {
            border: 3px solid $medium-gray;
            border-radius: 3px;
            ::-webkit-input-placeholder { text-transform: uppercase; };
            ::-moz-placeholder { text-transform: uppercase; };
            :-ms-input-placeholder { text-transform: uppercase; };
            input:-moz-placeholder { text-transform: uppercase; };
        }
        div > div > button > i {
            margin-left: rem-calc(-45px);
            color: $medium-gray;
        }
    }
}

article.blog.teaser {
    margin: 1rem 0px 5rem 0px;
}
