$fa-font-path: "../libs/font-awesome/fonts";
@import "font-awesome";
@import "settings";
@import "foundation";

@include foundation-everything();

@import "home";
@import "generic";
@import "about";
@import "post";
@import "classes";
@import "layout/menu";
@import "layout/footer";
@import "panels/hero-header";
@import "panels/locations";
@import "panels/contact-form";
@import "panels/horizontal-menu";
@import "panels/case-studies";
@import "panels/case-study";
@import "panels/slider";
