<div class="footer centered">
    <h1 class="green-header">READY TO GET STARTED?</h1>

    <div class="footer-input">
        <input type="text" name="email" value="" placeholder="YOUR EMAIL">
        <div class="button"> > </div>
        <div class="progress-bar"></div>
    </div>
    <div class="social-media">
        <img class="social-media-icon" src="/wp-content/themes/heideandcook/web/images/twitter.png" alt="" />
        <img class="social-media-icon" src="/wp-content/themes/heideandcook/web/images/youtube.png" alt="" />
        <img class="social-media-icon" src="/wp-content/themes/heideandcook/web/images/linked-in.png" alt="" />
        <img class="social-media-icon" src="/wp-content/themes/heideandcook/web/images/google.png" alt="" />
    </div>
    <p class="copyright">2016 Heide & Cook, LLC All Rights Reserved.</p>
</div>
