<div class="footer centered">
    <h1 class="green-header">READY TO GET STARTED?</h1>

    <form class="footer-input">
        <input type="text" name="email" value="" placeholder="YOUR EMAIL">
    </form>

    <p>2016 Heide & Cook, LLC All Rights Reserved.</p>
</div>
