<div class="footer centered">
    <h1 class="green-header">READY TO GET STARTED?</h1>

    <div class="footer-input">
        <input type="text" name="email" value="" placeholder="YOUR EMAIL">
        <div class="button"> > </div>
        <div class="progress-bar"></div>
    </div>
    <div class="social-media">
        <a><i class="fa fa-twitter circle-icon" aria-hidden="true"></i></a>
        <a><i class="fa fa-linkedin circle-icon" aria-hidden="true"></i></a>
        <a><i class="fa fa-youtube circle-icon" aria-hidden="true"></i></a>
        <a><i class="fa fa-google circle-icon" aria-hidden="true"></i></a>
    </div>
    <p class="copyright">2016 Heide & Cook, LLC All Rights Reserved.</p>
</div>
