<div class="header">
    <div class="header-upper">

    </div>
    <div class="row">
        <a><img class="logo" src="/wp-content/themes/heideandcook/web/images/heide-cook-logo.png" alt="" /></a>

        <div class="row header-lower">
            <a class="header-link">HOME</a>
            <a class="header-link">SERVICES</a>
            <a class="header-link">ABOUT</a>
            <a class="header-link">CASE STUDIES</a>
            <a class="header-link">BLOG</a>
            <a class="header-link">CONTACT</a>
        </div>
    </div>
</div>
