<div class="index-lightbox">
    <a class="fancybox fancybox.iframe" rel="group" href="https://www.youtube.com/embed?v=_kgRFHaNo-Y" allowfullscreen><img class="play-icon" src="/wp-content/themes/heideandcook/web/images/video-play.png"/></a>
    <h3>CUSTOM FACILITY SOLUTIONS</h3>
    <h4>HVAC experts serving all of Hawaii since 1946</h4>
</div>
