<section class="locations">
    <div class="tabs-row">
        <dl class="tabs" data-tabs id="location-tabs">
            <dd class="tabs-title is-active"><a href="#oahu-panel" aria-selected="true">OAHU OFFICE</a></dd>
            <dd class="tabs-title"><a href="#hilo-panel">HILO OFFICE</a></dd>
            <dd class="tabs-title"><a href="#maui-panel">MAUI OFFICE</a></dd>
        </dl>
    </div>
    <div class="tabs-content" data-tabs-content="location-tabs">
        <div class="row location-info">
            <div class="tabs-panel is-active" id="oahu-panel">
                <div class="column left">
                    <img src="/wp-content/themes/heideandcook/web/images/telephone-glyph.png" alt="" />
                    <p>(808) 841-6161</p>
                </div>
                <div class="column middle">
                    <img src="/wp-content/themes/heideandcook/web/images/email-glyph.png" alt="" />
                    <p>sales@hediecook.com</p>
                </div>
                <div class="column right">
                    <img src="/wp-content/themes/heideandcook/web/images/location-marker.png" alt="" />
                    <p>1714 Kanakanui Street</p>
                    <p>Honolulu, Hawaii 96819</p>
                </div>
            </div>
            <div class="tabs-panel" id="hilo-panel">
                <div class="column left">
                    <img src="/wp-content/themes/heideandcook/web/images/telephone-glyph.png" alt="" />
                    <p>Other Number</p>
                </div>
                <div class="column middle">
                    <img src="/wp-content/themes/heideandcook/web/images/email-glyph.png" alt="" />
                    <p>sales@hediecook.com</p>
                </div>
                <div class="column right">
                    <img src="/wp-content/themes/heideandcook/web/images/location-marker.png" alt="" />
                    <p>Different Address</p>
                    <p>Hilo, Hawaii</p>
                </div>
            </div>
            <div class="tabs-panel" id="maui-panel">
                  <div class="column left">
                      <img src="/wp-content/themes/heideandcook/web/images/telephone-glyph.png" alt="" />
                      <p>(808) 841-6161</p>
                  </div>
                  <div class="column middle">
                      <img src="/wp-content/themes/heideandcook/web/images/email-glyph.png" alt="" />
                      <p>sales@hediecook.com</p>
                  </div>
                  <div class="column right">
                      <img src="/wp-content/themes/heideandcook/web/images/location-marker.png" alt="" />
                      <p>Different Address</p>
                      <p>Maui, Hawaii</p>
                  </div>
            </div>
        </div>
    </div>
</section>
