<div id="main-menu" data-sticky-container>
    <div class="sticky" data-sticky>
        <div class="top">
            <div class="row column">
                <ul class="horizontal menu">
                    <li><a href="" class="login">Cusatomer Login</a></li>
                    <li><a href="" class="login">(808) 841 - 6161</a></li>
                    <li><a href="" class="light-green button">Get A Quote</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="row column">
                {{ SP.WordPress.menu() }}
            </div>
        </div>
        <div id="mega-menu">
            <div class="row">
                <div class="large-3 columns">
                    <img src="http://placehold.it/64x64" alt="">
                    <ul class="vertical menu">
                        <li><h5>Facilities Maintenance</h5></li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/64x64" alt="">
                    <ul class="vertical menu">
                        <li><h5>Facilities Maintenance</h5></li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/64x64" alt="">
                    <ul class="vertical menu">
                        <li><h5>Facilities Maintenance</h5></li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/64x64" alt="">
                    <ul class="vertical menu">
                        <li><h5>Facilities Maintenance</h5></li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>