<div class="hide">
    <div id="quote-lightbox">
        <div class="row column">
            <div class="content">
                {{ SP.ACF.get_field('quote_lightbox', 'option') }}
            </div>
        </div>
    </div>
</div>