<section class="recent-work">
    <div class="row">
        <h1 class="green-header">RECENT WORK</h1>
    </div>
    <div class="recent-work-slider">
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
        <div class="hc-work">
            <!-- <h3>Integrated Facilities project</h3> -->
            <img src="http://www.marketergizmo.com/wp-content/uploads/2015/03/vince-vaughn-images-1.png" class="recent-work-img" />
        </div>
    </div>
</section>
