{% extends 'base.html.twig' %}
{% block content %}
    <h1>Content goes in here</h1>
    {% include 'panels/hero-header.html.twig' %}{# ill do this one #}
    {% include 'panels/generic-content.html.twig' %}
    {% include 'panels/partners.html.twig' %}
    {% include 'panels/grid.html.twig' %}
    {% include 'panels/generic-content.html.twig' %}
    {% include 'layout/locations.html.twig' %}
{% endblock %}
