{% extends 'base.html.twig' %}
{% block content %}
    {% include 'panels/header-title.html.twig' %}
    <div class="row">
        <div class="medium-6 large-6 columns">
            {% for teaser in teasers %}
                {{ teaser }}
            {% endfor %}
            <a href="" id="load-more" class="dark-green hollow button">Load More</a>
        </div>
        <div class="medium-6 large-4 columns">
            <div class="search"></div>
            <div class="categories"></div>
        </div>
    </div>
{% endblock %}