{% extends 'base.html.twig' %}
{% block content %}
    <div class="single-post">
        <div class="row">
            <div class="large-7 columns large-centered">
                <div class="large-content-container">
                    <div class="large-letters">
                        {{ SP.ACF.get_field('large_letters') }}
                    </div>
                    <div class="large-content">
                        {{ SP.ACF.get_field('large_content') }}
                    </div>
                </div>
                <div class="regular-content">
                    <img class="blog-img" src="/wp-content/themes/heideandcook/web/images/blog-post.png">
                    {{ SP.WordPress.content() }}
                </div>
                <div class="share">
                    <span class="fa fa-fw fa-envelope"></span>
                    <span class="fa fa-fw fa-facebook"></span>
                    <span class="fa fa-fw fa-linkedin"></span>
                    <span class="fa fa-fw fa-twitter"></span>
                    <span class="fa fa-fw fa-google-plus"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
