{% extends 'base.html.twig' %}

{% block content %}
    {% block lightbox %}
        {% include "layout/lightbox.html.twig" %}
    {% endblock %}

    <section class="content-services">
        <div class="row column">
            <h1 class="green-header">COMPRHENSIVE SERVICES</h1>
            <p>Venmo authentic tousled, truffaut tilde tofu lomo ugh kitsch cred. Wolf whatever intelligentsia keytar, keffiyeh biodiesel hammock actually ramps green juice kogi yr hella neutra cornhole. Typewriter selfies kale chips, health goth disrupt street art put a bird on it offal man bun venmo etsy drinking vinegar craft beer roof party. Tumblr put a bird on it chia shabby chic, offal next level retro swag 3 wolf moon hella gastropub fashion axe banjo.</p>
        </div>
        <div class="row column">
            <div class="row">
                <div class="column-left">
                    <img class="service-icon" src="/wp-content/themes/heideandcook/web/images/integrated-facilities-icon.png"/>
                </div>
                <div class="column-middle">
                    <img class="service-icon" src="/wp-content/themes/heideandcook/web/images/construction-icon.png"/>
                </div>
                <div class="column-right">
                    <img class="service-icon" src="/wp-content/themes/heideandcook/web/images/cooling-icon.png"/>
                </div>
            </div>
            <div class="column-left">
                <p class="bold-orange">INTEGRATED FACILITIES</p>
                <a><p>Facility Surveys</p></a>
                <a><p>Facility Management</p></a>
                <a><p>Energy Efficiency</p></a>
                <a><p>Workplace Services</p></a>
            </div>
            <div class="column-middle">
                <p class="bold-light-green">CONSTRUCTION & INSTALLLATION</p>
                <a><p>HVAC Installation</p></a>
                <a><p>Elevators</p></a>
                <a><p>Modernization</p></a>
                <a><p>Refrigeration</p></a>
            </div>
            <div class="column-right">
                <p class="bold-yellow">COOLING EQUIPMENT</p>
                <a><p>One-Ton</p></a>
                <a><p>Five-Ton</p></a>
                <a><p>25-Ton</p></a>
                <a><p>35-Ton</p></a>
            </div>
        </div>
    </section>

    <section class="why-choose-us">
        <div class="row">
            <h1 class="green-header">WHY CHOOSE US?</h1>
            <div class="left-col">
                <div class="row ">
                    <a class="expandable"><img class="expand-icon" src="/wp-content/themes/heideandcook/web/images/expand.png"/><li class="bold-orange">REFERRAL BASED BUSINESS</li></a>
                    <div class="expanded-info">
                        <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v.</p>
                    </div>
                </div>
                <div class="row">
                    <a class="expandable"><img class="expand-icon" src="/wp-content/themes/heideandcook/web/images/expand.png"/><li class="bold-orange">CONSISTENT QUALITY</li></a>
                    <div class="expanded-info">
                        <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v.</p>
                    </div>
                </div>
                <div class="row">
                    <a class="expandable"><img class="expand-icon" src="/wp-content/themes/heideandcook/web/images/expand.png"/><li class="bold-orange">LIFETIME WARRANTY</li></a>
                    <div class="expanded-info">
                        <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v.</p>
                    </div>
                </div>
                <div class="row">
                    <a class="expandable"><img class="expand-icon" src="/wp-content/themes/heideandcook/web/images/expand.png"/><li class="bold-orange">GREAT SERVICE</li></a>
                    <div class="expanded-info">
                        <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v.</p>
                    </div>
                </div>
                <div class="row">
                    <a class="expandable"><img class="expand-icon" src="/wp-content/themes/heideandcook/web/images/expand.png"/><li class="bold-orange">FAIR PRICE</li></a>
                    <div class="expanded-info">
                        <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v.</p>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="quote-container">
                    <img src="/wp-content/themes/heideandcook/web/images/quotation.png"><p class="italic">Franzen irony distillery,  keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v. Slow-carb vinyl tilde mixtape freegan intelligentsia hammock hella hashtag."</p>
                    <p class="montserrat green-paragraph">- Person, Company</p>
                </div>
                <!-- <img class="photo" src="/wp-content/themes/heideandcook/web/images/happy-guy.png" alt="" /> -->
            </div>
        </div>
    </section>

    {% block slider %}
        {% include "layout/slider.html.twig" %}
    {% endblock %}

    {% include "layout/locations.html.twig" %}
    
{% endblock %}
