<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Heide & Cook | {{ title }}</title>
    {% endblock %}

    {% block stylesheets %}
        {{ head|raw }}
    {% endblock %}

</head>
<body>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block lightbox %}
        {% include "layout/lightbox.html.twig" %}
    {% endblock %}


    {% block content %}
        <section class="content-services">
            <div class="row column">
                <h1 class="green-header">COMPRHENSIVE SERVICES</h1>
                <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v. Slow-carb vinyl tilde PBR&B iPhone 90's. Pork belly meggings authentic umami, pinterest artisan cornhole mixtape freegan intelligentsia hammock hella hashtag. Venmo authentic tousled, truffaut tilde tofu lomo ugh kitsch cred. Wolf whatever intelligentsia keytar, keffiyeh biodiesel hammock actually ramps green juice kogi yr hella neutra cornhole. Typewriter selfies kale chips, health goth disrupt street art put a bird on it offal man bun venmo etsy drinking vinegar craft beer roof party. Tumblr put a bird on it chia shabby chic, offal next level retro swag 3 wolf moon hella gastropub fashion axe fap banjo.</p>
            </div>
            <div class="row column">
                <div class="column-left">
                    <p class="bold-orange">INTEGRATED FACILITIES</p>
                    <a><p>Facility Surveys</p></a>
                    <a><p>Facility Management</p></a>
                    <a><p>Energy Efficiency</p></a>
                    <a><p>Workplace Services</p></a>
                </div>
                <div class="column-middle">
                    <p class="bold-light-green">CONSTRUCTION & INSTALLLATION</p>
                    <a><p>HVAC Installation</p></a>
                    <a><p>Elevators</p></a>
                    <a><p>Modernization</p></a>
                    <a><p>Refrigeration</p></a>
                </div>
                <div class="column-right">
                    <p class="bold-yellow">COOLING EQUIPMENT</p>
                    <a><p>One-Ton</p></a>
                    <a><p>Five-Ton</p></a>
                    <a><p>25-Ton</p></a>
                    <a><p>35-Ton</p></a>
                </div>
            </div>
        </section>

        <section class="why-choose-us">
            <div class="row column">
                <h1 class="green-header">WHY CHOOSE US?</h1>
                <div class="left-col">
                    <ul>
                        <li>Franzen irony distillery, intelligentsia keytar dreamcatcher</li>
                        <li>Venmo authentic tousled</li>
                        <li>ramps hammock shabby chic chillwave</li>
                        <li>Typewriter selfies kale chips</li>
                    </ul>
                </div>
                <div class="right-col">
                    <p>Franzen irony distillery, intelligentsia keytar dreamcatcher literally gochujang tote bag ramps hammock shabby chic chillwave bespoke deep v. Slow-carb vinyl tilde PBR&B iPhone 90's. Pork belly meggings authentic umami, pinterest artisan cornhole mixtape freegan intelligentsia hammock hella hashtag. Venmo authentic tousled, truffaut tilde tofu lomo ugh kitsch cred. Wolf whatever intelligentsia keytar, keffiyeh biodiesel hammock actually ramps green juice kogi yr hella neutra cornhole. Typewriter selfies kale chips, health goth disrupt street art put a bird on it offal man bun venmo etsy drinking vinegar craft beer roof party. Tumblr put a bird on it chia shabby chic, offal next level retro swag 3 wolf moon hella gastropub fashion axe fap banjo.</p>
                </div>
            </div>
        </section>

        {% block slider %}
            {% include "layout/slider.html.twig" %}
        {% endblock %}

        <section class="locations">

        </section>
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}

    {{ foot|raw }}

{% endblock %}
</body>
</html>
