.hero-header {
  background-image: url('../images/pipes.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem-calc(90px) 0;
  text-align: center;
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
  }
  .row {
    position: relative;
    z-index: 1;
  }
  h1, h1 a {
    color: $white;
    font-size: rem-calc(48px);
    line-height:1;
    text-transform: uppercase;
  }
  h3, h4, h3 a, h4, a {
    color: $light-green;
    font-size: rem-calc(32px);
    line-height:1;
  }
  h1 a:hover, h3 a:hover, h4 a:hover, a:hover {
    color: $anchor-color-hover;
  }
  .hollow.button {
    color: $white;
    border-color: $white;
    text-transform: uppercase;
    font-size: rem-calc(14px);
    padding: rem-calc(12px) rem-calc(24px);
    margin-bottom: rem-calc(20px);
    &:hover {
      color: $light-green;
      border-color: $light-green;
    }
  }
  .date {
    color: $medium-gray;
    font-size: rem-calc(18px);
    font-weight: bold;
    text-transform: uppercase;
  }
  .prev, .next {
    width: rem-calc(34px);
    height: rem-calc(34px);
    margin: 0 rem-calc(2px);
    background-position: center;
    background-repeat: no-repeat;
    padding: rem-calc(15px);
  }
  .prev {
    transform: scaleX(-1);
    filter: FlipH;
  }
  .prev-next {
    vertical-align: middle;
    a {
      height: 46px;
      width: 46px;
      font-size: 2rem;
      line-height: 2rem;
      padding: 0px .8rem;
      border: 2px solid $light-gray;
      border-radius: 3px;
      color: $light-gray;
      margin: 0px .2rem;

      i {
        margin-top: .5rem;
        &::before {
          position: relative;
          top: -2px;
        }
      }
    }

    a:hover {
      color: $light-green;
      border-color: $light-green;
      transition: .25s;
    }
  }
  &.video {
    padding: rem-calc(120px) 0;
    border-bottom: rem-calc(10px) solid $orange;
    position: relative;
    overflow: visible;
    &::after {
      content: "";
      position: absolute;
      bottom: rem-calc(-40px) - rem-calc(10px);
      left: calc(50% - 40px);
      z-index: 1;
      width: 0;
      height: 0;
      border-left: rem-calc(40px) solid transparent;
      border-right: rem-calc(40px) solid transparent;
      border-top: rem-calc(40px) solid $orange;
    }
    .lightbox {
      h3 {
        margin-bottom: rem-calc(24px);
      }
      a {
        display: block;
        margin: 0 auto;
        width: rem-calc(64px);
        height: rem-calc(63px);
        background-image: url('../images/play.png');
        &:hover, &:active, &.active {
          background-image: url('../images/play-hover.png');
        }
      }
    }
  }
}

.hero-author {
  position: relative;
  top: -56px;
  margin-bottom: -56px;
  text-align: center;
  img {
    width: rem-calc(110px);
    border: solid $white 8px;
    border-radius: 100%;
  }
  .author {
    color: $medium-gray;
    font-size: rem-calc(14px);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
}
