.why-choose-us {
  background: $light-gray;
  padding-top: rem-calc(80px);
  position: relative;

  .why-choose-us-content {
    position: relative;
    z-index: 1;
  }
  .large-6 {
    position: relative;
  }

  .quote-container {
    blockquote{
      font-style: italic;
      border: none;
      padding: 0;
      font-size: rem-calc(20px);
      max-width: rem-calc(400px);
      z-index: 1;
      p:first-of-type::before {
        display: inline-block;
        height: rem-calc(20px);
        width: rem-calc(28px);
        content: " ";
        background-image: url("../images/quotation.png");
        background-repeat: no-repeat;
      }
    }
    cite {
      color: $light-green;
      font-size: rem-calc(20px);
      margin-bottom: rem-calc(60px);
      @include breakpoint(large) {
        margin-bottom: rem-calc(160px);
      }
    }
  }
  .testimony-author {
    position: relative;
    z-index: 0;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .accordion {
    background: none;
    color: $orange;
    .accordion-title::before {
      content: url("../images/expand.png");
      left: -35px;
      top: rem-calc(16px);
    }
    .is-active .accordion-title::before {
      content: url("../images/expand-open.png");
    }
  }

  a.accordion-title {
    color: $orange;
    font-size: rem-calc(18px);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: rem-calc(30px);
    padding: .8rem;
    border: none !important;
    background-color: transparent;
    line-height: 1.5rem;
    &:hover {
      background-color: transparent;
    }
  }

  .accordion-content {
    position: relative;
    background: none;
    color: $dark-gray;
    padding: 0px;
    padding-left: 1rem;
    border: none !important;

    p {
      margin: 0px rem-calc(30px) rem-calc(20px) rem-calc(22px);
    }
  }

  &::before {
    top: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $white;
    border-width: rem-calc(45px) rem-calc(40px);
  }
  &::after {
    @include breakpoint(medium) {
      left: 50%;
      bottom: 0px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $light-gray;
      border-width: rem-calc(45px) rem-calc(40px);
      margin-bottom: rem-calc(-80px);
    }
  }
}
