<div class="row about-mission">
    <div class="column large-4 large-push-4">
        <h3 class="green-header">Mission & Value Lead in Subtitle</h3>
        <p>Sleep on dog bed, force dog to sleep on floor scream at teh bath need to chase tail you call this cat food? but if it fits, i sits or need to chase tail toy mouse squeak roll over. Sit in box. Hunt anything that moves climb a tree, wait for a fireman jump to fireman then scratch his face if it smells like fish eat as much as you wish or stare at ceiling, or jump off balcony, onto stranger's head lick yarn hanging out of own butt give attitude.</p>
        <div class="button">
            <a>BUTTON TEXT</a>
        </div>
    </div>
    <div class="column large-8 large-pull-8">
        <img class="generic-page-img" src="/wp-content/themes/heideandcook/web/images/construction-image.png">
    </div>
</div>
