{# case studies teaser #}
<div class="case-study teaser">
    <a href="{{ SP.WordPress.URL() }}">
        {{ SP.WordPRess.featuredImage() }}
        <h3>{{ SP.WordPRess.title(SP.WordPress.ID()) }}</h3>
    </a>
</div>