<div class="capabilities-grid">
    <div class="row">
        <h3 class="green-header centered">Capabilities</h3>
        <div class="row">
            <div class="column small-12 large-6">
                <img class="grid-img" src="/wp-content/themes/heideandcook/web/images/construction-image.png">
                <h4 class="green-header">Title Text</h4>
                <p>Sleep on dog bed, force dog to sleep on floor scream at teh bath need to chase tail you call this cat food? but if it fits, i sits or need to chase tail toy mouse squeak roll over.</p>
            </div>
            <div class="column small-12 large-6">
                <img class="grid-img" src="/wp-content/themes/heideandcook/web/images/construction-image.png">
                <h4 class="green-header">Title Text</h4>
                <p>Sleep on dog bed, force dog to sleep on floor scream at teh bath need to chase tail you call this cat food? but if it fits, i sits or need to chase tail toy mouse squeak roll over.</p>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 large-6">
                <img class="grid-img" src="/wp-content/themes/heideandcook/web/images/construction-image.png">
                <h4 class="green-header">Title Text</h4>
                <p>Sleep on dog bed, force dog to sleep on floor scream at teh bath need to chase tail you call this cat food? but if it fits, i sits or need to chase tail toy mouse squeak roll over.</p>
            </div>
            <div class="column small-12 large-6">
                <img class="grid-img" src="/wp-content/themes/heideandcook/web/images/construction-image.png">
                <h4 class="green-header">Title Text</h4>
                <p>Sleep on dog bed, force dog to sleep on floor scream at teh bath need to chase tail you call this cat food? but if it fits, i sits or need to chase tail toy mouse squeak roll over.</p>
            </div>
        </div>
    </div>
</div>
