<div class="hero-header">
    <div class="row column">
        <a href="" class="hollow button">Integrated Facilities</a>
        <h1>INTEGRATED FACILITIES PROJECT POSSIBLE SECOND LINE OF TEXT</h1>
        <h4>HVAC experts serving all of Hawaii since 1946</h4>
        <p class="date">April 17, 2016</p>
        <a href="" class="prev hollow button"></a>
        <a href="" class="next hollow button"></a>
    </div>
</div>
<div class="hero-author">
    <img src="{{ SP.WordPress.templateURI }}/web/images/author.png" alt="">
    <p class="author">By Mark Sampaio</p>
</div>