<div class="row column our-partners">
    <h3 class="green-header">{{ SP.ACF.get_sub_field('title') }}</h3>
    <div class="partners">
        {% for partner in SP.ACF.get_sub_field('partners') %}
            <img src="{{ partner.image.url }}" />
        {% endfor %}
    </div>
</div>
